<footer class="bg-dark text-white text-center py-3">
  <p>&copy; <%= Date.current.year %> WRS Garage. All rights reserved.</p>
  <p>
    <a href="<%= about_path %>" class="text-white text-decoration-none">About Us</a> |
    <a href="<%= contact_path %>" class="text-white text-decoration-none">Contact Us</a>
  </p>
</footer>


<% # Footer %>
<% # = render "shared/footer" %>