<div class="col-md-4 text-center">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= category.name %></h5>
      <a href="/categories/<%= category.id %>" class="btn btn-primary">Explore</a>
    </div>
  </div>
</div>
